.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(11, 68, 255, 0.5);
}
.footer span{
    font-weight: 300;
    font-size: 1rem;
}